*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    overflow-x: hidden;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #151315;
    color: white;
}

.main__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 40%;
}

.main__texto__titulo{
    font-family: FonteTitulo;
    font-size: 3.2rem;
    letter-spacing: 2px;
    margin-top: -400px;
}

.main__texto__conteudo{
    font-family: FonteTexto;
    font-size: 1rem;
    margin-top: 50px;
    line-height: 25px;
}

.main__texto__conteudo__forte{
    font-size: 1.3rem;
}

.principal__baixo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    position: relative;
    z-index: 2;
    margin-top: 3%;
}

.principal__baixo__descricao{
    font-family: FonteTexto;
    font-size: .9rem;
    opacity: 20%;
}

.principal__baixo__cordenadas{
    font-family: FonteTexto;
    font-size: .9rem;
    opacity: 20%;
}
.principal__baixo__cordenadas:hover{
    opacity: 60%;
    text-decoration: none;
    color: white;
}

@media (max-width:1001px){
    .main__texto{
        padding-left: 20%;
        padding-right: 20%;
        margin-top: 50%;
    }
}

@media (max-width:811px){
    .main__texto{
        padding-left: 20%;
        padding-right: 20%;
        margin-top: 70%;
    }
}

@media (max-width:588px){
    .main__texto{
        padding-left: 20%;
        padding-right: 20%;
        margin-top: 90%;
    }
}

@media (max-width:463px){
    .main__texto{
        padding-left: 20%;
        padding-right: 20%;
        margin-top: 110%;
    }
}